/*!*******************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[11].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[11].oneOf[7].use[3]!./src/app/page.module.css ***!
  \*******************************************************************************************************************************************************************************************************************************************************************/
.page_mainBG__G7VAJ {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 4rem;
  min-height: 100vh;
  background-image: url('/GSHouse.jpeg');
  background-repeat: no-repeat;
  background-size: cover;
}

.page_main__GlU4n {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 4rem;
  min-height: 100vh;
  background-color: white;
}

.page_grid__f5Kdy {
  display: grid;
  grid-template-columns: repeat(4, minmax(25%, auto));
  max-width: 100%;
  width: var(--max-width);
}

.page_card__QV0Om {
  padding: 1rem 1.2rem;
  border-radius: var(--border-radius);
  background: rgba(var(--card-rgb), 0);
  border: 1px solid rgba(var(--card-border-rgb), 0);
  transition: background 200ms, border 200ms;
}

.page_card__QV0Om span {
  display: inline-block;
  transition: transform 200ms;
}

.page_card__QV0Om h2 {
  font-weight: 600;
  margin-bottom: 0.7rem;
}

.page_card__QV0Om p {
  margin: 0;
  opacity: 0.6;
  font-size: 0.9rem;
  line-height: 1.5;
  max-width: 30ch;
  text-wrap: balance;
}

.page_logo__7fc9l {
  position: relative;
}

/* Enable hover only on non-touch devices */
@media (hover: hover) and (pointer: fine) {
  .page_card__QV0Om:hover {
    background: rgba(var(--card-rgb), 0.1);
    border: 1px solid rgba(var(--card-border-rgb), 0.15);
  }

  .page_card__QV0Om:hover span {
    transform: translateX(4px);
  }
}

@media (prefers-reduced-motion) {
  .page_card__QV0Om:hover span {
    transform: none;
  }
}

/* Mobile */
@media (max-width: 700px) {
  .page_content__kDoxQ {
    padding: 4rem;
  }

  .page_grid__f5Kdy {
    grid-template-columns: 1fr;
    margin-bottom: 120px;
    max-width: 320px;
    text-align: center;
    background-color: white;
  }

  .page_card__QV0Om {
    padding: 1rem 2.5rem;
  }

  .page_card__QV0Om h2 {
    margin-bottom: 0.5rem;
  }

  .page_center__5oHG7 {
    padding: 8rem 0 6rem;
  }

  .page_center__5oHG7::before {
    transform: none;
    height: 300px;
  }
}

.page_navbar__chktt {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #fff; 
  z-index: 1000;
}

.page_navbar__chktt .page_card__QV0Om {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 10px;
}

.page_navbar__chktt .page_card__QV0Om a {
  text-decoration: none;
  color: #333;
}

@media (min-width: 701px) and (max-width: 1120px) {
  .page_grid__f5Kdy {
    grid-template-columns: repeat(2, 50%);
  }

  .page_navbar__chktt .page_card__QV0Om {
      flex-direction: row;
      padding: 5px;
  }
  
  .page_navbar__chktt .page_card__QV0Om a {
      margin-bottom: 5px;
  }
}

.page_random-user-container__nnlL4 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 20px;
  gap: 20px;
}

.page_user-image__eQaNB {
  width: 100%;
  height: auto;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

.page_user-details__1YqeO {
  padding: 10px;
}

.page_grid-container__Mk6cb {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 20px;
  gap: 20px;
}

@media (max-width: 768px) {
  .page_random-user-card__QfgLu {
    width: 100%;
  }
}

.page_image__NPJyO {
  max-width: 100%;
  height: auto;
}

.page_textContainer__g1_WS {
  text-align: left;
}

@media (max-width: 768px) {
  .page_rightAlign__1JTjp {
    text-align: center;
  }
}


